<!DOCTYPE html>
<html>
  <head>
    <title>{{titlePage}}</title>
    <meta charset="utf-8"></meta>
  </head>

  <body>
    {{> header}}

    <p>{{screamIt welcomeMessage}}</p>    <!--helpers prendono gli argomenti separati da spazi -->

    {{> footer}}
  </body>
</html>
